#myChatUl {
  padding: 0 2vw;
}

.myChatIl {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 2vh 0;
}

.myChatIl img {
  width: 4vw;
  height: 4vw;
  margin-right: 2vw;
  border-radius: 1000px;
}

.myChatIl h4 {
  width: 40vw;
}

#myChatCheck {
  font-size: 2.25vh;
  margin-right: 1vw;
}

#myChatCheck:hover {
  color: green;
  cursor: pointer;
}

#myChatX:hover {
  color: rgba(221, 35, 30, 1);
  cursor: pointer;
}

.myChatHr {
  width: 100%;
  background-color: black;
  border: 0;
  height: 1px;
}