.newServBckgrnd {
  background-color: rgba(0, 0, 0, .5);
  position: absolute;
  margin-top: -37vh;
  margin-left: -8vw;
  width: 110vw;
  height: 110vh;
  z-index: 1000;
}

.newServ,
.newServForm {
  display: flex;
  flex-direction: column;
}

.newServ {
  width: 33vw;
  padding: 2vh 1vw;
  background-color: rgba(221, 30, 35, 1);
  position: absolute;
  top: 45%;
  left: 45%;
  transform: translate(-50%, -50%);
}

.newServTitle {
  color: white;
}

.newServInput {
  border: 0;
  margin: 1vh 0 0.5vh 0;
  font-size: 2.5vh;
  padding: 5px;
  color: rgba(221, 30, 35, 1);
}

.newServInput::placeholder {
  color: rgba(221, 30, 35, 1);
  font-style: italic;
  font-weight: 300;
}

.newServInput:focus {
  outline: none;
}

#newServSubmits {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.newServButton {
  border: 0;
  background-color: white;
  color: rgba(221, 30, 35, 1);
  padding: 1vh;
  font-size: 2vh;
}

.newServButton:hover {
  cursor: pointer;
}

.newServsubmit {
  width: 15%;
  align-self: end;
}

.newServHr {
  width: 100%;
  background-color: white;
  border: 0;
  height: 1px;
}